* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccbeac;
  }
  
  .fullscreen-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.menu {
    position: absolute;
    z-index: 2;
    background-color: transparent;
}

.menu-btn {
    background: rgba(0, 0, 0, 0.5); 
    color: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    right: 0;
    z-index: 3;
}

.menu:hover .dropdown-content {
    display: block;
}

  .content {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 2;
  }
  
  .content h1 {
    font-size: 3.5em; 
  }
  
  .content h2 {
    font-size: 1.5em; 
  }
  
  .content1 {
    padding: 20px;
    margin-right: 700px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em; 
    text-shadow: #fff8f8;
    line-height: 1.6;

  }
  .spisehal {
    border-radius: 65px;
    width: 640px;
    height: 500px;
    margin-left: 70px; 
    margin-top: 37px;
    position: absolute;
  
    }
  
  .menu {
    position: absolute;
    top: 20px; 
    right: 20px; 
  }
  
  .menu-btn {
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #870000;
    margin-right: 100px;
  
  }
  
  .dropdown-content {
    display: none; /* Skjuler dropdown som standard */
    position: absolute;
    top: 60px; /* Position under knappen */
    right: 0;
    background-color: #f0e6dc;
    border: 2px solid #870000;
    padding: 10px;
    width: 180px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .dropdown-content a {
    display: block;
    color: #870000;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #d3bcb0;
  }
  
  .menu:hover .dropdown-content {
    display: block;
  
  }
  
  .button {
    background-color: #bd7676; 
    color: #000000; 
    padding: 10px 20px; /* Indvendig afstand */
    font-size: 30px; 
    border-color: #870000ab;
    border-width: 5px;
    border-radius: 10px; 
    transition: background-color 0.3s ease; /* Glidende overgang */
    cursor:pointer; /* Ændrer cursor ved hover */
    margin-left: 300px;
    margin-bottom: 50px;
    margin-top: px;
  
  
  
  }
  
  .button:hover {
    background-color: #870000; 
  }
  
  
  footer {
    width: 100%;
    background-color: #ccbeac;
    color: #060606;
    font-size: 0.9em;
    border-top: 1px solid #870000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: relative;
    bottom: 0;
  }
  
  .gaffel {
    background-color: #00000000;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 1;
    margin-left: 550px;
    margin-top: -245px;
    transform: rotate(-45deg);
  }
  
  .banken {
    background-color: #00000000;
    position: absolute;
    margin-top: -310px;
    margin-left: -500px;
    width: 400px;
    height: 300px;
  }
  
  
  
  footer div {
    flex: 1;
    text-align: center;
    line-height: 1.6;
    margin: 0 10px;
  }
  
  /* Special styling for hver sektion */
  .aabeningstider {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .aabeningstider p {
    margin: 0;
  }
  
  /* Nyhedsbrev styling */
  .nyhedsbrev {
    text-align: center;
  }
  
  .nyhedsbrev input[type="email"] {
    padding: 5px;
    margin-top: 5px;
    width: 80%;
    border: 1px solid #870000;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .nyhedsbrev button {
    background: none;
    border: 1px solid #870000;
    padding: 5px 20px;
    color: #870000;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nyhedsbrev button:hover {
    background-color: #870000;
    color: #fff;
  }
  
  .crossaint.mand img {
    width: 200px;
    height: auto;
  }

/* Desktop-styling (over 1024px) */
@media (min-width: 1024px) {
    .content {
        padding: 20px;
        margin-top: 30px;
        text-align: center;
        font-size: 1.6em;
    }

    .content h1 {
        font-size: 3.5em;
    }

    .content h2 {
        font-size: 1.5em;
    }

    .button {
        font-size: 30px;
        padding: 10px 20px;
        margin-left: 300px;
    }

    .menu-btn {
        font-size: 50px;
    }

    .dropdown-content {
        width: 180px;
        font-size: 18px;
    }

    .spisehal {
      margin-left: 780px;
  }

    footer {
        padding: 20px 60px;
    }
}

/* Mobil-styling (under 768px) */
@media (max-width: 768px) {

  .fullscreen-header {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .background-video {
    width: 100vw; 
    height: auto; 
    object-fit: cover;
    margin: 0; /* Fjerner marginen omkring videoen */
    min-height: 60vh;
    margin-top: -170px;
  }

  .content-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; /* Centrerer indholdet */
    margin-top: -400px; /* Juster om nødvendigt for at minimere mellemrum */
  }

  .content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1em;
    line-height: 1.6;
    text-align: left;
    color: #333;
    word-wrap: break-word;
  }

  .content1 {
    margin: 10px 0;
    line-height: 1.5;
    word-break: break-word; /* Sikrer at ord brydes og ikke tvinges i smalle kolonner */
    font-size: 1.1em; /* Øg skriftstørrelsen */
    line-height: 1.8; /* Forøg linjeafstanden for bedre luft mellem linjer */
    color: #333; /* Mørkere tekstfarve for bedre kontrast */
    padding: 10px 20px; /* Tilføj lidt ekstra padding for luft omkring teksten */
    text-align: justify; /* Juster teksten for et mere rent layou */
    padding-top: 20px; /* Skaber luft over teksten */
    clear: both; /* Sørger for, at teksten starter under billedet */
  }


  .content h1, .content h2 {
    font-size: 1.2em; 
    margin: 10px 0;
    padding: 0;
  }

  
/* Billede justering */
.spisehal {
  width: 100%; /* Gør billedet responsive */
  height: auto; /* Bevarer proportionerne */
  display: block; /* Fjerner eventuelle float-effekter */
  margin: 20px auto; /* Tilføjer luft omkring billedet */
  clear: both; /* Sørger for, at billedet står alene uden overlap */
  border-radius: 10px; /* Giver en blød kant til billedet */
}

/* Knappen */
.button {
    background-color: #bd7676;
    color: #000;
    padding: 15px 30px;
    font-size: 1.2em;
    border: 2px solid #870000;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    margin-top: -120px;
    margin-bottom: 50px;
    
}

footer {
   flex-direction: column;
   padding: 10px;
}
        
footer div {
   margin: 10px 0;
}
        
.aabeningstider {
    text-align: center;
    line-height: 1.8; /* Øger linjeafstanden for mere luft mellem linjerne */
    margin: 20px 0; /* Giver luft over og under hele sektionen */
}

.aabeningstider h3 {
   margin-top: 20px; 
}
          
.aabeningstider p {
    margin: 10px 0; /* Ekstra afstand over og under hver linje i åbningstiderne */
}
        
.nyhedsbrev, .lokation {
     margin-top: 30px; 
}
        
.nyhedsbrev input[type="email"] {
    margin-top: 10px;
    margin-bottom: 10px;
 }
        
 .nyhedsbrev button {
      margin-top: 10px;
    }
        
  .crossaint.mand img {
      width: 150px;
    }

    .gaffel {
      display: none;
  }
 }

/* Tablet-styling (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .fullscreen-header {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .background-video {
    width: 100vw; 
    height: auto; 
    object-fit: cover;
    margin: 0; /* Fjerner marginen omkring videoen */
    min-height: 60vh;
  }

  .content-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; /* Centrerer indholdet */
    margin-top: -400px; /* Juster om nødvendigt for at minimere mellemrum */
  }

  .content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1em;
    line-height: 1.6;
    text-align: left;
    color: #333;
    word-wrap: break-word;
  }

  .content1 {
    margin: 10px 0;
    line-height: 1.5;
    word-break: break-word; /* Sikrer at ord brydes og ikke tvinges i smalle kolonner */
    font-size: 1.1em; /* Øg skriftstørrelsen */
    line-height: 1.8; /* Forøg linjeafstanden for bedre luft mellem linjer */
    color: #333; /* Mørkere tekstfarve for bedre kontrast */
    padding: 10px 20px; /* Tilføj lidt ekstra padding for luft omkring teksten */
    text-align: justify; /* Juster teksten for et mere rent layou */
    padding-top: 20px; /* Skaber luft over teksten */
    clear: both; /* Sørger for, at teksten starter under billedet */
  }


  .content h1, .content h2 {
    font-size: 1.2em; 
    margin: 10px 0;
    padding: 0;
  }

  
/* Billede justering */
.spisehal {
  width: 100%; /* Gør billedet responsive */
  height: auto; /* Bevarer proportionerne */

}

/* Knappen */
.button {
    background-color: #bd7676;
    color: #000;
    padding: 15px 30px;
    font-size: 1.2em;
    border: 2px solid #870000;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    margin-top: -120px;
    margin-bottom: 50px;
    
}

footer {
   flex-direction: column;
   padding: 10px;
}
        
footer div {
   margin: 10px 0;
}
        
.aabeningstider {
    text-align: center;
    line-height: 1.8; /* Øger linjeafstanden for mere luft mellem linjerne */
    margin: 20px 0; /* Giver luft over og under hele sektionen */
}

.aabeningstider h3 {
   margin-top: 20px; 
}
          
.aabeningstider p {
    margin: 10px 0; /* Ekstra afstand over og under hver linje i åbningstiderne */
}
        
.nyhedsbrev, .lokation {
     margin-top: 30px; 
}
        
.nyhedsbrev input[type="email"] {
    margin-top: 10px;
    margin-bottom: 10px;
 }
        
 .nyhedsbrev button {
      margin-top: 10px;
    }
        
  .crossaint.mand img {
      width: 150px;
    }

    .gaffel {
      display: none;
  }
 }